{% extends "base.html" %}

{% block content %}
    <!--  se existi aqui que é a Div para o vídeo ao vivo -->
{#    <div id="live-video-container" class="container text-center my-2 card" style="display: none;">#}
{#        <h2 class="mb-4" style="color: #FF0000">Estamos Ao Vivo! <i class="bi bi-broadcast"></i></h2>#}
{#        <div id="live-video"></div>#}
{#    </div>#}

    <div class="container text-center my-2 card">
        <h2>Sobre a IASD Freguesia</h2>
        <p>A Igreja Adventista do Sétimo Dia Freguesia, localizada na Freguesia - Jacarepaguá, Rio de Janeiro, é uma
            comunidade cristã dedicada a vivenciar os ensinamentos de Jesus Cristo e levar esperança, amor e apoio
            espiritual a todos. Reunimo-nos aos sábados para cultos, Escola Sabatina e estudos bíblicos, além de
            promover ações sociais e projetos que contribuem para o bem-estar da nossa comunidade.
            <br><br>
            Nosso objetivo é não apenas pregar o evangelho, mas também viver os valores de integridade, solidariedade e
            paz. Oferecemos apoio a famílias carentes, programas de saúde e projetos educacionais, buscando transformar
            vidas de maneira prática e significativa. Todos são bem-vindos a conhecer nossa igreja e participar das
            nossas atividades, fazendo parte de uma família que cresce em fé e compromisso com Cristo.</p>
        <div id="horario-programacao" class="text-center ">
            <h5>HORÁRIOS DE CULTOS</h5>
            <p>Sábados às 9h00 – Escola Sabatina <br>
            Sábado às 10h30 – Culto <br>
            Domingos às 19h30 <br>
            Quartas às 20h</p>
        </div>
    </div>

{#    <div class="container text-center my-2 card">#}
{#        <h2 class="mb-4">Últimos vídeos do nosso canal no YouTube</h2>#}
{#        <div class="video-container d-flex flex-wrap justify-content-center gap-3 mb-5" id="video-container">#}
{#            <p>Carregando vídeos...</p>#}
{#        </div>#}
{#    </div>#}

    <div class="d-flex flex-column align-items-center my-2 card">
        <h2 class="mb-4">Nosso Instagram</h2>
        <!-- LightWidget WIDGET -->
        <iframe src="//lightwidget.com/widgets/7e265a75ca9956d085ce2b00ba48a01b.html" scrolling="no"
                allowtransparency="true" class="lightwidget-widget"
                style="width:60%;border:0;overflow:hidden;"></iframe>
    </div>

    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>

{% endblock %}
